/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Open+Sans:wght@300;400;500&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font: 1.6rem 'Nunito', sans-serif;
    margin: 0;
}



*{
    box-sizing: border-box;
}

h1,h2,h3,p,figure,ol,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,h2,h3{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #000;
}

/*thème*/

:root{
    --color-primary: #1d1d1d;
    --color-secondary: #2b5797;
    --color-trois: #FFFFFF;
    --color-quatre: #DC143C;
    --color-cinq: #fff;
    --color-six: rgb(240, 232, 232);
    --color-sept: #5d8898;
    --color-huit: #b2d8e9;
}

header h1{
    line-height: 8.5rem; 
    text-align: center;
    color: var(--color-trois);
    
}
main, footer{
    max-width: 95rem;
    margin: 1rem auto 3rem;
    line-height: 3rem;
}

main{
    background-color: var(--color-sept) ;
    border-radius: .5rem;
    /*margin-top: 1rem;*/
}

body{
    background-color: var(--color-huit) ;
}

section{
    padding: .4rem;
}
section:nth-child(3) ul li::before{
    content: '-';
    vertical-align: middle; /*met au milieu */
    margin-right: .3rem;
}
section:nth-child(3) ul li:first-child::before{
    content: ""; /* enleve le - */
}
header img{
    position: absolute;  /* centre l'image et permet de ne pas bouger l'image */
    top: -0.8rem;
    left: 1rem;
    height : 10rem;
    width : 8rem;
    object-fit: cover;  /* couleur ou noir et blanc */
    filter: grayscale(15%);  /* couleur ou noir et blanc en arrangeant */
    clip-path: circle(45%);  /* met en rond */
    z-index: 2;     /*La propriété z-index permet de préciser l'empilement de certains éléments d'une page, c'est-à-dire sur l'axe vertical.
                    La propriété z-index détermine l'ordre des éléments positionnés (c'est-à-dire des éléments dont la valeur de position est absolue, fixe ou relative)*/
}
header{
   /* position: relative;*/
    background-color: var(--color-secondary);
    
}

nav{
  
    text-align: center;
    margin: 1rem;
    background-color: var(--color-primary) ;
    margin:0;
}
nav ul li{
    display : inline-block;
    line-height: 4rem;
    padding: 1rem;
    
}
a{
    color: var(--color-trois);
    
}

section h2{
    margin: .5rem;
    background-color: var(--color-primary);
    color: var(--color-trois);
    line-height: 5rem;
    padding-left: .8rem;
    border-radius: .6rem;
}

section p{
    margin: 1rem;
    border: .1rem solid var(--color-primary);
    line-height: 2.6rem;
    background-color: var(--color-six);
    border-radius: .4rem;
}

section ul{
    background-color: var(--color-six);
    border-radius: .7rem;
}
main section:nth-child(2) ul li{
    background-color: var(--color-trois);
    border-radius: .5rem;
}


section ul li{
    margin: 1rem;
}
section ul{
    border: .1rem solid var(--color-primary);
    margin: 1rem;
}

section h2:before{
    content:"\2714"; 
    margin-right: 0.3rem;
}
/*
main section ul li img{
    display: inline-block;
    width: calc(100% / 4 - 1rem);
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    margin: 2.4rem;
    border : .1rem solid var(--color-primary);
} */



main section:nth-child(2) ul li{
    display: inline-block;
    /* width: calc(100% / 3 - 1rem);*/
    padding: .2rem;
    border : .1rem solid var(--color-primary);
    margin: 3.7rem;
    
}


footer *{
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-trois);
    border-radius: .5rem;
}

/*responsive */

@media screen and (max-width:70.0rem){

    main, footer {
        margin: 0 auto;
        width: auto;
    }
    
    header img{
        display: block;
        position: static; /* permet de ne pas bouger l'image */
        margin:0 auto;
    }
    main section h2{
        margin: 0;
    }

    main section:nth-child(1) h2{
        margin-top: 0.6rem;
        
    }
    main section h2{
        font-size: 1.6rem;
    }

    main section{
        padding: 0;
    }
    main section ul, main section p{
        margin: 0rem;
    }
    header{
        background-color: var(--color-quatre);
        font-size: small;
    }
    header h1{
        margin: 0rem;
        font-size: large;
        line-height: 2.5rem;
    }
    main section:nth-child(2) ul img{
        display: block;
        width: 100%;
    }
    main section:nth-child(2) ul li{
        display: inline-block;
        width: calc(100% / 5 - 1rem);
        margin: 0.3rem;
        padding: 0rem;
        border : .1rem solid var(--color-trois);
    }
    main section:nth-child(2) ul{
    padding: 1.0rem 0 0 2.0rem ;
    font-size: 0rem;
    }

  
    section h2{
        font-size: large;
    }
    section p{
     
        text-align: justify;
    }
    section ul li{
        
        text-align: justify;
    }
   /* main section:nth-child(2) ul li{
      
        margin: 4.5rem;

    }*/
    nav{
        font-size: small;
    }
    nav ul li{
        display: block;
        border-bottom: solid var(--color-cinq) .1rem;
        text-align: justify;
    }

    footer{
        display: grid;
        height: 20vh;   
        align-items:center;  /*met au milieu le copyright */
        background-color: var(--color-primary);
        font-size: small;
    }
}

@media screen and (orientation:landscape){ /* format paysage */
    header{
        background-color: var(--color-secondary);
        font-size: small;
    }
    
    
    
}